a {
  text-decoration: none;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

// scrollbar
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--theme-color);
}

::-webkit-scrollbar-track {
  background-color: var(--white-color);
}

// Firefox
* {
  scrollbar-width: thin;
  scrollbar-color: var(--theme-color) var(--white-color);
}

// edge & explorer
*::-ms-scrollbar {
  width: 2px;
}

*::-ms-scrollbar-thumb {
  background-color: var(--theme-color);
}

*::-ms-scrollbar-track {
  background-color: var(--white-color);
}

html {
  touch-action: manipulation;
  -ms-touch-action: manipulation;
  touch-zooming: none;
}

// pinch zooming prevented
@viewport {
  zoom: 1.0;
  width: device-width;
}