.details__container {
  display: flex;
  align-items: center;

  &__arrow {
    padding: 0 4px;
    svg {
      font-size: 36px;
      cursor: pointer;
      margin: 8px;
    }
  }

  .details {
    position: relative;
    display: block;
    width: 760px;
    margin: 30px auto;
    min-height: 420px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: -5px -5px 16px -4px var(--opacity-black-five);
    transition: all 0.4s;

    &:hover {
      transform: scale(1.01);
      box-shadow: 0px 0px 80px -25px var(--opacity-black-five);
      transition: all 0.4s;
    }

    &__section {
      position: relative;
      width: 100%;
      z-index: 2;

      &__header {
        position: relative;
        padding: 25px;

        h1 {
          color: var(--theme-color);
          font-weight: 600;
        }

        h4 {
          color: var(--text-primary);
          font-weight: 600;
          width: 80%;
          height: 100px;
        }

        img {
          position: relative;
          float: left;
          margin-right: 20px;
          height: 120px;
          box-shadow: 0 0 20px -10px var(--opacity-black-five);
        }
      }

      &__desc {
        padding: 10px 25px 25px;

        p, a {
          @include flex($flex-wrap: wrap);
          color: var(--text-secondary);

          &.characters {
            margin: 4px 0 0 4px;

            a {
              @include flex($flex-wrap: wrap, $align-items: center, $justify-content: center);
              margin: 2px;
              width: 20px !important;
              height: 20px;
              border-radius: 50%;
              background-color: var(--text-primary);
              font-size: 8px;
              font-weight: 600;
              color: var(--white-color);

              &:hover {
                color: var(--hover-color);
              }
            }
          }
        }

        a {
          color: var(--theme-color);
        }
      }
    }

    &__back {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      height: 100%;
      border-radius: 20px;
    }
  }
}

// desktop
@media(min-width: 768px) {
  .details__container {
    .details {
      &__section {
        min-height: 420px;
        background: linear-gradient(to right, var(--white-color) 50%, transparent 100%);

        &__header {
          width: 65%;
        }

        &__desc {
          width: 50%;
        }
      }

      &__back {
        width: 80%;
        background-position: -100% 10% !important;
      }
    }
  }
}

// mobile & tablet
@media(max-width: 768px) {
  .details__container {
    &__arrow {
      padding: 4px;
      svg {
        font-size: 22px;
        cursor: pointer;
        margin: 8px;
      }

      &--prev {
        padding: 4px 9px 4px 0px;
      }
    }
    .details {
      width: 90%;
      margin: 20px auto;
      min-height: 350px;
      height: auto;

      &__section {
        background: linear-gradient(to top, var(--white-color) 50%, transparent 100%);
        display: inline-grid;

        &__header {
          width: calc(100% - 32px);
          margin-top: 30px;
          padding: 15px;
        }

        &__desc {
          width: calc(100% - 30px);
          min-height: 30vw;
          padding: 25px 15px;

          .character {
            width: 100%;
            background-color: red;
          }
        }
      }

      &__back {
        width: 100%;
        background-position: 50% 50% !important;
      }
    }
  }
}