.filters {
  display: flex;
  flex-direction: row;
  gap: 0 20px;
  height: 40px;

  .filters__toggle {
    display: flex;
    align-items: center;
    background-color: var(--theme-red);
    padding: 2px 0;
    width: 40px;
    height: 36px;
    border-radius: 50px;
    cursor: pointer;

    svg {
      width: 40px;
      cursor: pointer !important;
      padding-top: 2px;

      path {
        fill: var(--white-color);
      }
    }

    &.clicked:not(.open) {
      box-shadow: 6px 6px 10px var(--opacity-black-two),
      -2px -2px 10px var(--theme-red);
    }

    &.open {
      background-color: var(--theme-color);
      &.clicked {
        box-shadow: 6px 6px 10px var(--opacity-black-two),
        -2px -2px 10px var(--theme-color);
      }
    }

  }
  .filters__options {
    display: flex;
    flex-direction: row;
    gap: 0 20px;
    .filters__options__bar {
      display: flex;
      align-items: center;
      background-color: var(--theme-color);
      padding: 2px 0;
      width: 300px;
      border-radius: 50px;
      position: relative;
      transition: width 300ms;
  
      svg {
        width: 25px;
        cursor: pointer;
        position: absolute;
        left: 10px;
  
        path {
          fill: var(--white-color);
        }
  
        &:nth-of-type(2) {
          right: 10px;
          left: auto;
          transition: width 300ms;
        }
      }
  
      input, select {
        background-color: transparent;
        border: none;
        margin: 6px 0px 6px 40px;
        width: 100%;
        outline: none;
        color: var(--white-color);
        transition: width 300ms;
  
        &::placeholder {
          color: var(--white-color);
        }
      }
  
      &.closed {
        &.filters__options__bar {
          width: 46px;
  
          input {
            width: 0;
          }
  
          svg:nth-of-type(2) {
            width: 0;
          }
        }
      }

      &--switch {
        width: 120px;
        overflow: hidden;
      }
    }
  }
}