// light theme
$head-footer-color: #ecedf3e6;

$theme-color: #43c547;
$theme-red: #d63d2e;
$hover-color: #049709;

$text-primary: #333;
$text-secondary: #6f6f6f;
$text-tertiary: #a9a9a9;

$unknown-color: #9e9e9e;
$card-shadow: #00000026;

$white-color: #fff;

$disabled-color: #c2c2c2;
$passive-color: #ddd;

$opacity-white-nine: rgba(255, 255, 255, 0.9);
$opacity-black-two: rgba(0, 0, 0, 0.2);
$opacity-black-five: rgba(0, 0, 0, 0.5);

// dark theme
$dark-head-footer-color: #000;
$dark-theme-color: #43c547;
$dark-theme-red: #d63d2e;
$dark-hover-color: #049709;

$dark-text-primary: #b4b4b4;
$dark-text-secondary: #6f6f6f;
$dark-text-tertiary: #a9a9a9;

$dark-unknown-color: #9e9e9e;
$dark-card-shadow: #ffffff26;

$dark-white-color: #272b33;

$dark-disabled-color: #757575;
$dark-passive-color: #43c547;

$dark-opacity-white-nine: rgba(0, 0, 0, 0.9);
$dark-opacity-black-two: rgba(255, 255, 255, 0.2);
$dark-opacity-black-five: rgba(255, 255, 255, 0.5);