@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@import 'variables';
@import 'mixins';
@import 'colors';
@import 'common';

@import 'pagination';
@import 'filters';
@import 'navbar';
@import 'footer';
@import 'loader';

@import 'home';
@import 'cards';
@import 'details';

* {
  margin: 0;
  cursor: default;
  font-family: "Quicksand";
  color: var(--text-primary);
  overflow-x: hidden !important;
  overflow: hidden;
}

html, body, #root {
  height: 100%;
  .app {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    background-color: var(--white-color);
  }
  
  .content {
    margin-top: 54px;
    padding: 8px 20px 60px;
    overflow: hidden auto;
  
    h2 {
      text-transform: capitalize;
    }
  }

  @media(max-width: 480px) {
    .content {
      margin-top: 44px;
      padding: 8px 2px 60px;

      .ps {
        padding-left: 6px;
        flex-direction: column;
        gap: 6px;
      }
    }
  }
}