.filters {
  display: flex;
  flex-direction: row;
  height: 40px;

  &__toggle {
    display: flex;
    align-items: center;
    background-color: var(--theme-red);
    padding: 2px 0;
    width: 40px;
    height: 36px;
    border-radius: 50px;
    cursor: pointer;

    svg {
      width: 40px;
      cursor: pointer !important;
      padding-top: 2px;

      path {
        fill: var(--white-color);
      }
    }

    &.open {
      background-color: var(--theme-color);
    }

    &.alive {
      background-color: var(--theme-color);

      &.clicked path {
        fill: var(--black-color);
      }
    }

    &.dead {
      background-color: var(--theme-red);

      &.clicked path {
        fill: var(--black-color);
      }
    }

    &.unknown {
      background-color: var(--unknown-color);

      &.clicked path {
        fill: var(--black-color);
      }
    }

  }

  &__options {
    display: flex;
    flex-direction: row;

    &__bar {
      display: flex;
      align-items: center;
      background-color: var(--theme-color);
      padding: 2px 0;
      border-radius: 50px;
      position: relative;
      transition: width 300ms;

      svg {
        width: 25px;
        cursor: pointer;
        position: absolute;
        left: 10px;

        path {
          fill: var(--white-color);
        }

        &:nth-of-type(2) {
          right: 10px;
          left: auto;
          transition: width 300ms;
        }
      }

      input,
      select {
        background-color: transparent;
        border: none;
        margin: 6px 0px 6px 40px;
        width: 100%;
        outline: none;
        color: var(--white-color);
        transition: width 300ms;

        &::placeholder {
          color: var(--white-color);
        }
      }

      input {
        width: 75%;
      }

      &.closed {
        &.filters__options__bar {
          width: 46px;

          input {
            width: 0;
          }

          svg:nth-of-type(2) {
            width: 0;
          }
        }
      }
    }
  }
}

// mobile
@media(max-width: 480px) {
  .filters {
    gap: 0 4px;

    &__options {
      gap: 0 4px;

      &__bar {
        width: 160px;

        input {
          margin: 6px 0px 6px 34px;
        }
      }
    }
  }
}

// desktop & tablet
@media(min-width: 480px) {
  .filters {
    gap: 0 20px;

    &__options {
      gap: 0 20px;

      &__bar {
        width: 300px;

        input {
          margin: 6px 0px 6px 40px;
        }
      }
    }
  }
}